

@code {

}


<div class="px-2 py-4 mt-2 bg-gray-200 rounded-lg w-full dark:bg-zinc-700 lg:w-60 xl:w-80 flex flex-col
justify-between gap-4">

    <div id="user" class="flex gap-3 items-center bg-zinc-800 dark:bg-neutral-200 p-4 rounded-full text-white dark:text-zinc-800">
        <img class="w-14 h-14 rounded-full " src="/img/demoprofiles/profile-1.jpg" alt="user image" />
        <div class="">
            <h3 class="font-semibold text-2xl">Robert Oppenheimer</h3>
            <p>Developer</p>
        </div>
    </div>

    <div id="shortcuts" class="flex gap-4 flex-col bg-white rounded-lg p-4 dark:bg-gray-600  text-zinc-800 dark:text-neutral-200">

        Shortcuts

        <div class="flex justify-between items-center cursor-pointer rounded-sm">

            <div class="flex gap-4 items-center">
                <span class="material-symbols-rounded bg-neutral-200 p-2 rounded-full w-8 h-8 flex items-center justify-center dark:bg-gray-800 ">
                    settings
                </span>
                <h3 class="font-medium">Settings</h3>
            </div>
            <span class="material-symbols-rounded bg-gray-300 p-2 rounded-md dark:bg-gray-700 dark:text-gray-300 hover:mr-3
                transition-all duration-500">
                arrow_forward_ios
            </span>
        </div>




    </div>
    <div id="donutcharts"></div>
</div>


