@page "/dashboard"
@using BT.Identity.Components.Layout
@rendermode InteractiveServer
<PageTitle>Dashboard</PageTitle>

@code {

}


<div id="page" class="text-gray-500 bg-gray-100 p-4 sm:ml-64 flex gap-2 flex-col lg:flex-row translate-all
        duration-300 mt-14 dark:bg-zinc-800 dark:text-white h-screen">

    <div id="content" class="flex-1 flex flex-col gap-5 ">
    <h1>Hello, world!</h1>

    Welcome to your new app.

    </div>
    <div id="profile" class="">
        <Profile />
    </div>

</div>