@page "/"

<PageTitle>Home</PageTitle>




<div id="page" class="text-gray-500 bg-gray-100 p-4 ml-64 mt-14 dark:bg-zinc-800 dark:text-white h-screen">

    <h1>Hello, world!</h1>

    Welcome to your new app.

</div>
