@using BT.Shared.Domain

@code {
    [Parameter] public Role? Role { get; set; }

    //  Our way to communicate back to the calling Index component when the user adds or closes the dialog
    [Parameter] public EventCallback OnCloseRoleDetailDialog { get; set; }
}


<!-- Modal -->
<div class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center
        w-full md:inset-0 h-[calc(100%-1rem)] max-h-full bg-black/50 backdrop:backdrop-blur-md">

    <!-- Content -->
    <div class=" p-4 w-3/4 mx-auto my-3 relative bg-white rounded-lg shadow dark:bg-zinc-800 overflow-y-auto">
        <!-- Header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
            <h3 class="text-xl font-semibold text-zinc-900 dark:text-neutral-200">
                Role Details for:  @Role!.RoleName
            </h3>
            <button type="button" @onclick="OnCloseRoleDetailDialog" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900
                rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="authentication-modal">
                <span class="material-symbols-rounded">
                    close
                </span>
            </button>
        </div>
        <dl class="my-4">
            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
                Role Code
            </dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
                @Role.RoleCode
            </dd>
            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
                Name
            </dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
                @Role.RoleName
            </dd>
            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">
                Description
            </dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
                @Role.Description
            </dd>
        </dl>
    </div>

</div>


