@inherits LayoutComponentBase

@code {

}


<section class="bg-zinc-800 text-neutral-200 font-sans">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        @Body
    </div>
</section>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>