@page "/products/all"
@rendermode InteractiveServer

<PageTitle>Products - Home</PageTitle>

@code {

}

<div id="page" class="content-page text-gray-500 bg-gray-100 p-4 sm:ml-64 dark:bg-zinc-800 dark:text-white h-screen">
    <h1>View All Products</h1>
</div>

